@font-face{font-family:'Droid Arabic Naskh';font-style:normal;font-weight:400;src:url(../fonts/DroidNaskhRegular.eot);src:local('Droid Arabic Naskh'),local('DroidArabicNaskh'),url(../fonts/DroidNaskhRegular.eot) format('embedded-opentype'),url(../fonts/DroidNaskhRegular.woff) format('woff'),url(../fonts/DroidNaskhRegular.ttf) format('truetype')}@font-face{font-family:'Droid Arabic Naskh';font-style:normal;font-weight:700;src:url(../fonts/DroidNaskhBold.eot);src:local('Droid Arabic Naskh Bold'),local('DroidArabicNaskh-Bold'),url(../fonts/DroidNaskhBold.eot) format('embedded-opentype'),url(../fonts/DroidNaskhBold.woff) format('woff'),url(../fonts/DroidNaskhBold.ttf) format('truetype')}

body{
    font-family: BKoodakBold;
    text-align: right;
}
h1,h2,h3,h4,h5,h6,li,a,p,small{
    font-family: BKoodakBold;
    direction: rtl;
}
small{
    font-size: 80%;
    text-align: left;
    display: block;
}
ul.much li{
    margin-top: 5%;
}
img {
    margin: 0 10% 5% 0;
    width: 80%;
}
.center{
    text-align: center;
}
.title{
    font-family: titr;
}
.left{
    float:left;
}
.right{
    float:right;
}